<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choose</title>
</head>
<body style="background-color: red; text-align: center;">
    <h1>whose advice do You wanna read?</h1>
    <ul>
        <!--for loop tag. It will print our list in nice way-->
        <!--Thanks to this list will be dynamic-->
        <!--links should work-->
        {% for god in choose %}
            <!--url tag makes link more dynamic-now you don't need to specify the path in html document-->
            <li><a href="{%url "god-says" ask=god %}" style="font-size: 20px;">{{god|title}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>